@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

.main-wrapper {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
input::placeholder {
  color: #898989;
}

.feedback-section,
.feedback-given,
.feedback-pending {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.tablinks{
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
}
.tablinks .active{
  position: relative;
 
}
.tablinks .active::after{
  content: "";
  position:absolute;
  width: 50px;
  height: 2px;
  /* top:1.86rem; */
  bottom:-67.2%;
  right:50%;
  border-radius: 2rem;
  text-align: center;
  transform: translateX(50%);
  background-color: #0084CA;
}

@media (max-width: 768px) { 
  .tablinks .active::after{
    display: none;
  }
}